version: '3'
services:
  caddy:
    build: contrib/caddy
    volumes:
      - certs:/root/.caddy
    ports:
      - 80:80
      - 443:443
    depends_on:
      - hackpad
    environment:
      - CADDY_CA=https://acme-staging.api.letsencrypt.org/directory
      - CADDY_DOMAINS
      - CADDY_EMAIL
    restart: unless-stopped
  hackpad:
    build: .
    depends_on:
      - mysql
      - smtp
    environment:
      - DB_HOST=mysql
      - SMTP_SERVER=smtp:25
      - USE_HTTPS_URLS=true
      - ENABLE_FB_LOGIN=false
      - ENABLE_GOOGLE_LOGIN=false
      - DISABLE_DROPBOX_SYNC=true
      - VERBOSE=false
      - IS_PRODUCTION=true
      - PRO_ONLY
      - GOOGLE_ANALYTICS_ID
      - MIXPANEL_TOKEN
      - TOP_DOMAINS
      - SMTP_USER
      - SMTP_PASS
      - PERSONALIZE_FOOTER
      - ADMIN_EMAILS
      - CUSTOM_EMAIL_ADDRESS
      - SUPPORT_EMAIL_ADDRESS
      - DISABLE_WORKSPACE_CREATION
      - CANONICAL_DOMAIN
      - REDIRECT_HOME_TO
    volumes:
      - hackpad:/home/hackpad/hackpad/etherpad/data
    restart: unless-stopped
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: "hackpad"
      MYSQL_USER: "hackpad"
      MYSQL_PASSWORD: "password"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - db:/var/lib/mysql
    restart: unless-stopped
  smtp:
    image: namshi/smtp
    environment:
      - MAILNAME
      - SMARTHOST_ADDRESS
      - SMARTHOST_USER
      - SMARTHOST_PASSWORD
      - SMARTHOST_ALIASES
      - SMARTHOST_PORT
    volumes:
      - mailspool:/var/spool/exim

volumes:
  db:
  hackpad:
  certs:
  mailspool:
